.mod-cta-json {
    background-color: gray ; 
    transition: background-color 0.3s ease;
}

.mod-cta-json:hover {
    background-color: rgb(166, 138, 249) ; 
}

.mod-cta-reset {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: grey ; 
    transition: background-color 0.3s ease;
}

.mod-cta-reset:hover {
    background-color: #ff6666 ; 
}

.json-input-container{
    margin-top: 50px;
}